body{
    background-image: url('../img/Background.jpg');
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content{
    flex: 1;
}

#form{
	opacity: 0.9;
	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#form:hover{
	opacity: 1;
}

#jumbo{
	padding: 70px 0;
  	text-align: center;
}

#card{
	opacity: 0.9;
	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#card:hover{
	opacity: 1;
}